
<div class="wrapper">
    <app-sidebar style="background-color: white !important;"></app-sidebar>

    <div class="main">
        <nav class="navbar navbar-expand navbar-theme">
            <a class="sidebar-toggle d-flex mr-2">
                <i class="hamburger align-self-center"></i>
            </a>
        </nav>
        <main class="content">
            <div class="container-fluid">

                <div class="header">
                    <h1 class="header-title">
                        Registro de tipo de Acivo Fijo
                    </h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="dashboard-default.html">Dashboard</a></li>
                            <li class="breadcrumb-item"><a href="" [routerLink]="['/tipobienes']">Tipos de activos fijos</a></li>
                            <li class="breadcrumb-item"><a>Registro de tipo de activo fijo</a></li>
                        </ol>
                    </nav>
                </div>
                <div class="row">
                    <div class="col-12 col-lg-12" *ngIf="error_message">
                        <div class="alert alert-danger alert-dismissible" role="alert">
                            <div class="alert-message">
                                {{error_message}}
                            </div>

                            <button type="button" class="close" (click)="error_alert()" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">×</span>
                            </button>
                        </div>
                    </div>
                    <div class="col-12 col-lg-12" *ngIf="success_message">
                        <div class="alert alert-info alert-dismissible" role="alert">
                            <div class="alert-message">
                                {{success_message}}
                            </div>

                            <button type="button" class="close" (click)="success_alert()" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">×</span>
                            </button>
                        </div>
                    </div>
                    <div class="col-12 col-xl-10">
                        <div class="card">
                            <div id="card-header"class="card-header">
                                <h5 id="textoblanco" class="card-title">Complete el formulario</h5>
                                <h6 id="textoblanco1" class="card-subtitle text-muted">Agregar tipo de activo fijo</h6>
                            </div>
                            <div class="card-body">
                                <form #tipoForm="ngForm" (ngSubmit)="onSubmit(tipoForm)">

                                    <div class="row">
                                        <div class="form-group col-lg-5">
                                            <b>Tipo de activo fijo</b>
                                            <input type="text" class="form-control" #NombreActivo="ngModel" name="NombreActivo" [(ngModel)]="tipoactivo.NombreActivo" placeholder="ej. Mesa" required>
                                        </div>
                                        <div class="form-group col-lg-5">
                                            <b>Descripción para el mantenimiento</b>
                                            <input type="text" class="form-control" #DescripcionMant="ngModel" name="DescripcionMant" [(ngModel)]="tipoactivo.DescripcionMant" placeholder="ej. Cada 3 meses" required>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-success btn-lg">Registrar</button>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </main>
       
    </div>
</div>
    
