
<div class="wrapper">
    <app-sidebar style="background: white !important;"></app-sidebar>
    <div class="main">
        <nav class="navbar navbar-expand navbar-theme">
            <a class="sidebar-toggle d-flex mr-2">
        <i class="hamburger align-self-center"></i>
      </a>
    
            <!-- <div class="navbar-collapse collapse">
                <ul class="navbar-nav ml-auto">
                    
                    <li class="nav-item dropdown ml-lg-2">
                        <a class="nav-link dropdown-toggle position-relative" href="#" id="userDropdown" data-toggle="dropdown">
                                <i class="align-middle fas fa-cog"></i>
                            </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="#"><i class="align-middle mr-1 fas fa-fw fa-user"></i> View Profile</a>
                            <a class="dropdown-item" href="#"><i class="align-middle mr-1 fas fa-fw fa-comments"></i> Contacts</a>
                            <a class="dropdown-item" href="#"><i class="align-middle mr-1 fas fa-fw fa-chart-pie"></i> Analytics</a>
                            <a class="dropdown-item" href="#"><i class="align-middle mr-1 fas fa-fw fa-cogs"></i> Settings</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#"><i class="align-middle mr-1 fas fa-fw fa-arrow-alt-circle-right"></i> Sign out</a>
                        </div>
                    </li>
                </ul>
            </div> -->
    
        </nav>
        <main class="content">
            <div class="container-fluid">
    
                <div class="header">
                    <h1 class="header-title">
                        Listado de activos fijos asignados
                    </h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a [routerLink]="['/dashboard']">Dashboard</a></li>
                            <li class="breadcrumb-item"><a>Listado de activos fijos asignados</a></li>
                        </ol>
                    </nav>
                </div>
    
                <div class="row">
                    <!-- <div  class="col-12 col-xl-12">
                        <div class="alert alert-success alert-outline alert-dismissible" role="alert">
                            <div class="alert-icon">
                                <i class="far fa-fw fa-bell"></i>
                            </div>
                            <div class="alert-message">
                                <strong>Hello there!</strong> A simple success alert—check it out!
                            </div>
    
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">×</span>
                            </button>
                        </div>
                    </div> -->
                    <div class="col-12 col-xl-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="row">
                                    
                                    
                                    <div class="col-lg-6">
                                        <button class="btn btn-info " (click)="imprimirLista()"><span class=" sidebar-middle mr-2 fas fa-fw fa-print" aria-hidden="true"></span>PDF</button>
                                    </div>
                                </div>
                                <br>
                                <h5 class="card-title">Listado de activos fijos asignados</h5>
                                <!-- <h5>Buscar Proyecto/Ambiente</h5> -->
                                <div class="row">
                                    <div class="col-lg-5">
                                        <form #searchForm="ngForm" (ngSubmit)="search(searchForm)">
                                            <div class="input-group" id="datetimepicker-minimum" data-target-input="nearest">
                                                <input type="text" class="form-control datetimepicker-input" #filtro="ngModel" placeholder="Buscar por descripción"
                                                name="filtroText" [(ngModel)]="filtroText">
                                                <div class="input-group-append">
                                                    <button type="submit" class="input-group-text"><i class="fa fa-search"></i></button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="col-lg-3">
                                        <form #searchFormFech="ngForm" (ngSubmit)="searchFech(searchFormFech)">
                                            <div class="input-group" id="datetimepicker-minimum" data-target-input="nearest">
                                                <input type="datetime-local" class="form-control datetimepicker-input" #filtroF="ngModel" placeholder="Buscar"
                                                name="filtroTextF" [(ngModel)]="filtroTextF">
                                                <div class="input-group-append">
                                                    <button type="submit" class="input-group-text"><i class="fa fa-search"></i></button>
                                                </div>
                                            </div>
                                        </form>

                                    </div>
                                    
                                </div>
                                
                            </div>
                            <table class="table table-striped table-hover">
                                <thead class="thead-dark">
                                    <tr>
                                        <!-- <th>Codigo</th> -->
                                        <th>Imagen</th>
                                        <th>Responsable</th>
                                        <th>Descripción</th>
                                        <th>Fecha</th>
                                        
                                        <th>Ambiente</th>
                                        <th>Edificio</th>
                                        <th>Proyecto</th>
                                        <th>Estado</th>
                                        <th>Ubicación</th>
                                        <th>Opciones</th>
                                    </tr>
                                </thead>
                                <tbody *ngFor="let item of altas | paginate: { itemsPerPage: 7, currentPage: p }">
                                        <!-- <td>{{item.idActiv}}</td> -->
                                        <td>
                                            <img [src]="url + 'activo/img/'+ item.Imagen" width="48" height="48" class="rounded-0 mr-2" alt="Avatar"> 
                                            
                                        </td>
                                        <td>{{item.Nombres}} {{item.Apellidos}}</td>
                                        <td class="col-lg-2">{{item.Descripcion}}</td>
                                        <td>{{item.FechaHora | date:'dd-MM-yyyy'}}</td>  
                                         
                                        <td>{{item.NombreAmb}}</td>    
                                        <td>{{item.NombreEdi}}</td>    
                                        <td>{{item.NombrePro}}</td>         
                                        <td>{{item.Estado}}</td>
                                        <td class="text-center">
                                            <div class="btn-group">
                                                <button class="btn btn-danger" data-toggle="modal" (click)="get_maps(item.idActivo, item.Latitud, item.Longitud)" [attr.data-target]="'#modal-maps-'+item.idActivo">
                                                <span class=" sidebar-middle mr-0 fas fa-fw fa-map-marker" aria-hidden="true"></span>
                                                </button>
                                                
                                            </div>
                                        </td>   
                                        <td>
                                            <div class="btn-group">
                                                <button type="button" class="btn mb-1 btn-secondary dropdown-toggle" 
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fas fa-cog"></i>
                                                </button>
                                                <div class="dropdown-menu">
                                                    <div class="col-lg-1.5">
                                                        <a class="dropdown-item" href="" data-toggle="modal" (click)="get_id(item.idActivo)"[attr.data-target]="'#modal-devolucion-'+item.idActivo">Realizar devolución</a>
                                                    </div>
                                                    <div class="col-lg-1.5">
                                                    <a class="dropdown-item" href="" data-toggle="modal" (click)="get_id(item.idActivo)"[attr.data-target]="'#modal-mantenimiento-'+item.idActivo">Realizar mantenimiento</a>
                                                    </div>
                                                   
                                                </div>
                                            </div>
                                        </td>
                                       <!--GOOGLE MAPS-->
                                       <div class="modal fade" [attr.id]="'modal-maps-'+item.idActivo" tabindex="-1" role="dialog" style="display: none;" aria-hidden="true">
                                        
                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                <div class="modal-content col-lg-11">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title">Ubicación de edificio: {{item.NombreEdi}}</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">×</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body m-3">
                                                        <div class="row">
                                                            <google-map [center]="position">
                                                                <map-marker
                                                                [position]="position"
                                                                [label]="label"
                                                                [title]="title"
                                                                >
                                                                </map-marker>
                                                            </google-map>
                                                                                
                                                        </div>          
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                                                    </div>
                                                </div>
                                            </div>
                                    </div>    
                                    <!--MODAL REALIZAR MANTENIMIENTO-->
                                    <div class="modal fade" [attr.id]="'modal-mantenimiento-'+item.idActivo" tabindex="-1" role="dialog" style="display: none;" aria-hidden="true">
                                        <form #mantenimientoForm="ngForm" (ngSubmit)="save_mantenimiento(mantenimientoForm)">
                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                <div class="modal-content col-lg-11">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title">Realizar mantenimiento de activo fijo: {{item.NombreActivo}}</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">×</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body m-3">

                                                        <div class="row">
                                                            <div class="col-lg-9">
                                                                <div class="form-group text-center">
                                                                    <label class="form-label"></label>
                                                                    <img [src]="url + 'activo/img/'+ item.Imagen" width="50%" class="rounded-0 mr-2" alt="Avatar">
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-9">
                                                                <div class="form-group">
                                                                    <label class="form-label">Descripcion de activo fijo</label>
                                                                    <textarea class="form-control"  cols="1.5" rows="2"readonly placeholder="{{item.Descripcion}}"></textarea>
                                                                </div>
                                                            </div>
                                                        </div>    
                                                        <div class="row">
                                                            <div class="col-lg-4">
                                                                <div class="form-group">
                                                                    <label class="form-label">Costo(Bs)</label>
                                                                    <input type="number" class="form-control" placeholder="0" #Costo="ngModel"  name="Costo" [(ngModel)]="mantenimiento.Costo" required>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-4">
                                                                <div class="form-group">
                                                                    <label class="form-label">Fecha</label>
                                                                    <input type="datetime-local" class="form-control" #FechaMant="ngModel"  name="FechaMant" [(ngModel)]="mantenimiento.FechaMant" required>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-lg-8">
                                                                <div class="form-group">
                                                                    <label class="form-label">Informe</label>
                                                                    <textarea class="form-control"  cols="2" rows="2"  #Informe="ngModel"  name="Informe" [(ngModel)]="mantenimiento.Informe" required></textarea>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                                                        <button type="submit" class="btn btn-success">Guardar mantenimiento</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <!--MODAL REALIZAR DEVOLUCION-->
                                    <div class="modal fade" [attr.id]="'modal-devolucion-'+item.idActivo" tabindex="-1" role="dialog" style="display: none;" aria-hidden="true">
                                        <form #devolucionForm="ngForm" (ngSubmit)="save_devolucion(devolucionForm)">
                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                <div class="modal-content col-lg-11">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title">Realizar devolución de activo fijo: {{item.NombreActivo}}</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">×</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body m-3">
                                                       
                                                        <div class="row">
                                                            <div class="col-lg-9">
                                                                <div class="form-group text-center">
                                                                    <label class="form-label"></label>
                                                                    <img [src]="url + 'activo/img/'+ item.Imagen" width="50%" class="rounded-0 mr-2" alt="Avatar">
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-9">
                                                                <div class="form-group">
                                                                    <label class="form-label">Descripción activo fijo</label>
                                                                    <textarea class="form-control"  cols="2" rows="2"  readonly placeholder="{{item.Descripcion}}"></textarea>
                                                                </div>
                                                            </div>
                                                        </div>    
                                                        <div class="row">
                                                            <div class="col-lg-4">
                                                                <div class="form-group">
                                                                    <label class="form-label">Condiciones</label>
                                                                    <select class="form-control"  #idCondicion="ngModel" required name="idCondicion" [(ngModel)]="condiciones.idCondicion">
                                                                        <option disabled>SELECCIONAR</option>
                                                                        <option value="{{item.idCondicion}}" *ngFor="let item of condiciones">{{item.Nombre.toUpperCase()}}</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-6">
                                                                <div class="form-group">
                                                                    <label class="form-label">Motivo de devolución</label>
                                                                    <input type="text" class="form-control" placeholder="Ingrese el motivo" #Motivo="ngModel"  name="Motivo" [(ngModel)]="devoluciones.Motivo" required>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            
                                                            <div class="col-lg-8">
                                                                <div class="form-group">
                                                                    <label class="form-label">Observaciones del activo fijo</label>
                                                                    <textarea class="form-control"  cols="2" rows="2"  #Observaciones="ngModel"  name="Observaciones" [(ngModel)]="devoluciones.Observaciones" required></textarea>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                                                        <button type="submit" class="btn btn-success">Guardar devolución</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>                                                                
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-12 col-xl-12">
                        <pagination-controls (pageChange)="p = $event"></pagination-controls>
                        `
                    </div>
                </div>

            </div>
        </main>
        
    </div>
</div>
